html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul, a {
    list-style: none ;
    color: black;
    text-decoration: none;
  }

  .width {
    max-width: 1060px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  a:visited {
    color: black;}

    a:hover {
    color: #1662ae !important;}

  .card p {
    padding-top: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

body{
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;

}

img{
    max-width: 100%;
    display: block;
}


.width .lista ul li {
    list-style: disc !important;
    margin-bottom: 15px;
    font-size: 30px;
}

header{
    background-color: #ccc;
     margin-bottom: 30px;
     display: flex;
     justify-content: space-between;
     align-items:center;
     padding: 20px 60px;
    }


  header h6{
    font-size: 20px;
    font-weight: 400;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;


  
}


h1{
    margin: 0;
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 68px;

}


h2{
    margin-top: 30px;
    margin-bottom: 50px;
    color: black;
    text-align: left !important;
    font-size: 36px;
    font-weight: 100;
}

h3 {
    margin: 0;
    color: black;
    text-align: left;
    font-weight: normal;
    font-size: 36px;   
    margin-bottom: 30px;
}

h4{
    margin: 0;
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 30px;
}
    h5{
    margin: 0;
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 30px;
}


    h6{
    margin: 0;
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
  
}

.centered-image{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.centered-image img{
     max-width: 100%;
    height: auto;
    width: 80%;
 
    object-fit: cover;
 
    
}




.content{
    max-width: 1000px;
    margin: auto;
    
}

.griglia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card{ 
    border: 2px solid #9CACBC;
    background-color: #9CACBC;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    background-color: #9CACBC;
    margin-bottom: 45px;
}



.card a img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}



footer{
    background-color: #ccc;
     max-width: 10000px;
     margin-top: 30px;
     display: flex;
     justify-content: space-between;
     align-items:center;
     padding: 10px 20px;
    }

 a:visited {
    list-style: none;
    text-decoration: none;
    color: black;
}

.card:hover {
    transform: scale(1.1);
}

.griglia div p {
    font-size: 22px;

}

@media (max-width:800px){
    .header .container,
    .footer-content {
    display: flex;
    flex-direction: column; 
    text-align:center ;
    gap: 10px;

    }
    .width {
        margin-left: 50px;
        margin-right: 50px;
    }

    .griglia {
        grid-template-columns: 1fr;
    }

    .card {
        margin-bottom: 45px;
    }
}









